.signup{
    background: orange;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-container{
    background: white;
    width: 40%;
    margin: auto;
    height: 80vh;
    border: 1px solid orange;
    border-radius: 20px;
    display: flex;
    flex-direction: column; 
}

.h1{
    color: orange;
    padding-top: 20px;
    width: 100%;
    text-align: center;
}

.form-control{
    margin: 20px 30px;
    padding: 20px 20px;
    width: 90%;
}

.regBtn{
    align-items: center;
    text-align: center;
}